.plan {
  &__inner {
    position: relative;
    @include bg;
    padding: 90px 30px 120px 90px;
    background-image: url("../images/plan-bg.png");
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid #121824;
  }

  &__content {
    max-width: 465px;
    width: 100%;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__text {
    margin-bottom: 48px;
  }

  &__img {
    position: absolute;
    right: 0;
    top: 0;
  }
}