.team {
  &__title {
    margin-bottom: 42px;
  }

  &__card {
    overflow: hidden;
    background-color: #0A0F1A;
    border: 1px solid #1c2538;
    border-radius: 30px;
    cursor: grab;
  }

  &__img {
    @include objectCoverBg;
    width: 100%;
  }

  &__content {
    padding: 44px 40px 40px;
  }

  &__name {
    font-size: 28px;
    font-weight: 600;
    color: $white;
    margin-bottom: 8px;
    line-height: 1.4;
    letter-spacing: -0.56px;
  }

  &__job {
    display: block;
    margin-bottom: 36px;
  }

  &__text {
    max-width: 330px;
  }

  .swiper {
    overflow: visible !important;

    &-slide {
      transition: opacity .4s;
      opacity: .3;

      &.visible-slide {
        opacity: 1;
      }
    }
  }
}