.btn {
  display: flex;
  line-height: 1;
  color: $white;
  overflow: hidden;
  font-weight: 600;
  padding: 16px 20px;
  border-radius: 72px;
  max-width: max-content;
  justify-content: center;
  background-color: $accent;
  border: 1px solid transparent;
  transition: background-color .4s, border .4s, color .4s, transform .6s;
  @media (max-width: 420px) {
    font-size: 15px;
  }

  &:hover {
    background-color: #3375ff;
    border-color: transparent;
    color: #f2f2f5;
  }

  &:focus {
    background-color: transparent;
    color: $white;
    border-color: $accent;
  }
}