<footer class="footer">
  <div class="container container--big">
    <div class="footer__inner">
      <img src="images/logo.svg" width="110" height="23" alt="Logo LinkCut">
      <nav class="footer__nav">
        <ul class="footer__list">
          <li>
            <a class="footer__link" href="terms.html">Terms & Condition</a>
          </li>
          <li>
            <a class="footer__link" href="policy.html">Privacy policy</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>